.project
*.class

# Package Files #
*.jar
*.war
*.ear
validation-service/.idea/
validation-service/validierungsservice.iml
validation-service/out/
validation-service/src/main/resources/rebel.xml
validation-service/validation-service.iml
